<%- include("header") -%> 
<h2>To Do List : About</h2>

<p> This is a simple to do list generator for keeping tracks of your activities and save it from time-to-time and avoid forgetting them!</p>
<p>The user can create their To Do tasks for a day and we also have a section for work which is meant for professional errands.</p>
<p>Enjoy using the app and hope you like it :)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include("footer") -%> 